.reviews {
  position: relative;
  margin-top: 50px;
  width: 10%;
}

img {
  position: absolute;
  width:100%;
  left: 0;
}

.button {
  position: absolute;
  width: 100%;
  left:0;
  top: 0px;
  text-align: center;
  opacity: 0;
  transition: opacity .4s ease;
}

.button a {
  z-index: 1;
}

.reviews:hover .button {
  opacity: 1;
}