.reviews {
  position: relative;
  margin-top: 50px;
  width: 150PX;
}

.reviews img {
  position: absolute;
  width:100%;
  left: 0;
  box-shadow: 3px 3px 10px black;
}

.ratebtn {
  position: absolute;
  width: 100%;
  left:0;
  top: 0px;
  text-align: center;
  opacity: 0;
  transition: opacity .4s ease;
}

.ratebtn a {
  z-index: 1;
}

.reviews:hover .ratebtn {
  opacity: 1;
}

