html {
    padding: 0;
    margin: 0;
    background-image: url(../images/BG-thin_line.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}
/* ------------------------------- header--------------- */
* {
    box-sizing: border-box;
}
body {
   margin:0;
   padding:0; 
}

.navbar {
    width: 100%;
    position: fixed; 
    display:flex;
    margin-top: -5%;
    justify-content: space-between;
    align-items: center;
    background-color: #13141A;
    color: white;
    font-size: 0.9rem;
}

.brand-title {
    width: 40%;
    margin-left:3%;
}

.navbar-links ul {
    width: 100%;
    margin:0;
    margin-left: -10%;
    padding:0;
    display:flex;
}
.navbar-links li {
    list-style:none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding:1rem;
    display:block;

}

.navbar-links ul li a:hover {
   color:  #96192B;

}

.toggle-button {
    position: absolute;
    top: .4rem;
    right:1rem;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width:30px;
    height:10px;
}

.toggle-button .bar {
    height:2%;
    width:60%;
    background-color: white;
    border-radius:10px;
}






@media (max-width: 500px) {
  
    .brand-title img{
        width: 100%;
        margin-left:3%;
        margin-top: 2%;
    }   

    .toggle-button {
    display:flex;
}

.navbar-links ul li a:hover {
    background-color: wheat;
    color: black;
}

.navbar-links {
    display:none;
    width:100%;
   
}
.navbar {
    flex-direction: column;
    align-items:flex-start;
}
.navbar-links ul {
    flex-direction: column;
    width:100%;
    
}
.navbar-links li {
    text-align: center;
  
}
.navbar-links li a {
    padding: .5rem 1rem;
    
}
.navbar-links.active {
    display: flex;
 
}

}

/* ------------------------------- about us--------------- */

.grid-about{
    display: grid;
    height: auto;
    margin-top: 5%;
    margin-right: 15%;
    margin-left: 15%;
    background-color:#333333cb; 
    grid-gap: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr;
    padding-bottom: 5%;
  }

  .grid-about .title-about-all{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    /* background: cornflowerblue; */
}

.grid-about .title-about{
    color: #96192B;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    /* background: cornflowerblue; */
}

.title-about-p{
    font-size: 1.1rem;
    color: white;
}

.grid-about .text-about{
    text-align: left;
    font-size: 1rem;
    color: white;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    padding-right: 10%;
    padding-left: 35%;
    /* background: rgb(26, 56, 112); */
}


.grid-about .about-img1{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start:2;
    grid-row-end: 2;
    padding-right:35%;
    padding-left: 10%;
    margin-top: 5%;
    text-align: left;
}

.grid-about .about-img1 p{
    font-size: 1rem;
    color: white;
    margin-top: 5%;
}


.grid-about .about-img1 img{
    width: 100%;
}

.grid-about .about-img2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:3;
    grid-row-end: 3;
    padding-right:8%;
    padding-left: 32%;
    /* background-color:#33333398;  */
}

.grid-about .about-img2 img{
    width: 100%;
}

.grid-about .about-img3{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start:3;
    grid-row-end: 3;
    padding-right:32%;
    padding-left: 8%;
    /* background-color:#33333398;  */
}
.grid-about .about-img3 img{
    width: 100%;
}
/* for big screen */
@media only screen and (min-width: 1400px){
    .grid-about .title-about{
        color: #96192B;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
        font-size: 1.5rem;
        /* background: cornflowerblue; */
    }
    
    .title-about p{
        font-size: 1.3rem;
        color: white;
    }

    .grid-about .text-about{
        text-align: left;
        font-size: 1rem;
        color: white;
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        padding-right: 10%;
        padding-left: 33%;
        /* background: rgb(26, 56, 112); */
    }
    
.grid-about .about-img1{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start:2;
    grid-row-end: 2;
    padding-right:35%;
    padding-left: 10%;
    text-align: left;
    font-size: 1rem;
    color: white;
    /* background: rgb(4, 14, 31); */
}
.grid-about .about-img1 p{
    font-size: 1rem;
    margin-top: 2%;
    color: white;
    /* background: rgb(4, 14, 31); */
}

    
}



/* for big screen */
@media only screen and (min-width: 2000px){

    .grid-about .title-about{
        color: #96192B;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
        font-size: 1.9rem;
        /* background: cornflowerblue; */
    }
    
    .title-about p{
        font-size: 1.5rem;
        color: white;
    }

    .grid-about .text-about{
        text-align: left;
        font-size: 1.7rem;
        color: white;
        width: 90%;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        padding-right: 10%;
        padding-left: 35%;
        /* background: rgb(26, 56, 112); */
    }
    
.grid-about .about-img1{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start:2;
    grid-row-end: 2;
    padding-right:35%;
    padding-left: 10%;
    text-align: left;
    font-size: 1.7rem;
    color: white;
    /* background: rgb(4, 14, 31); */
}
.grid-about .about-img1 p{
    font-size: 1.7rem;
    margin-top: 2%;
    color: white;
    /* background: rgb(4, 14, 31); */
}


}

/* for tablet */
@media only screen and (max-width: 768px){

      .grid-about .title-about{
        color: #96192B;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
        font-size: 1.2rem;
        /* background: cornflowerblue; */
    }
    
    .title-about p{
        font-size: 0.7rem;
        color: white;
    }
    
    .grid-about .text-about{
        text-align: left;
        font-size: 0.8rem;
        color: white;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        padding-right: 8%;
        padding-left: 32%;
        /* background: rgb(26, 56, 112); */
    }

    
    .grid-about .about-img1{
        margin-top: 5%;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start:2;
        grid-row-end: 2;
        padding-right:35%;
        padding-left: 10%;
        text-align: left;
        /* background: rgb(4, 14, 31); */
    }

    .grid-about .about-img1 p{
       margin-top: 55%;
       font-size: 0.8rem;
       color: white;
       margin-top: 15%;
    }
    
    .grid-about .about-img1 img{
        width: 100%;
    }
    
    .grid-about .about-img2{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start:3;
        grid-row-end: 3;
        padding-right:8%;
        padding-left: 32%;
        /* background-color:#33333398;  */
    }
    
    .grid-about .about-img2 img{
        width: 100%;
    }
    
    .grid-about .about-img3{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start:3;
        grid-row-end: 3;
        padding-right:32%;
        padding-left: 8%;
        /* background-color:#33333398;  */
    }
    .grid-about .about-img3 img{
        width: 100%;
    }

}

/* for phone */
@media only screen and (max-width: 500px){

    .grid-about{
        display: grid;
        height: auto;
        margin-top: 5%;
        margin-right: 15%;
        margin-left: 15%;
        background-color:#333333cb; 
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.5fr 0.5fr 0.5fr;
      }


      .grid-about .title-about{
        color: #96192B;
        font-size: 0.9rem;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
        /* background: cornflowerblue; */
    }
    
    .title-about p{
        font-size: 0.6rem;
        color: white;
    }
    
    .grid-about .text-about{
        text-align: left;
        width: 90%;
        font-size: 0.5rem;
        color: white;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;
        margin-top: -2%;
        margin-right: 55%;
        margin-left: -5%;
        /* background: rgb(26, 56, 112); */
    }
    
    .grid-about .about-img1{
        margin-top: 1%;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start:3;
        grid-row-end: 3;
        text-align: center;
        /* background: rgb(4, 14, 31); */
    }

    .grid-about .about-img1 p{
        text-align: left;
        width: 90%;
       margin-top: 5%;
       margin-left: 30%;
       font-size: 0.5rem;
       color: white;
    }
    
    .grid-about .about-img1 img{
        width: 90%;
        margin-left: 30%;
    }
    
    .grid-about .about-img2{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start:4;
        grid-row-end: 4;
    }
    
    .grid-about .about-img2 img{
        width: 90%;
        margin-left: -14%;
    }
    
    .grid-about .about-img3{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start:5;
        grid-row-end: 5;
        padding-right:32%;
        padding-left: 8%;
    }
    .grid-about .about-img3 img{
        width: 90%;
        margin-top: 2%;
        margin-left: 27%;
    }

}




/* ------------------------------- footer--------------- */

.grid-footer{
    display: grid;
    height: 100%;
    width: 100%;
    margin-top: 3%;
    background-color: #13141A;  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr;
  }

  .grid-footer .footer-logo{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 55%;
}

.footer-logo img{
   width: 80%;
}

.grid-footer .footer-text{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: right;
    margin-right: 50%;
    color: white;
    font-size: 0.9em;
}

/* for big screens */
@media only screen and (min-width: 2000px){

    .grid-footer .footer-text{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        font-size: 1.3em;
        margin-top: 2%;
        text-align: right;
        margin-right: 50%;
        color: white;
    }


}


/* for tablet */
@media only screen and (max-width: 768px){

    .grid-footer .footer-text{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        text-align: right;
        font-size: 0.5em;
        margin-right: 50%;
        color: white;
    }
}


/* for phone */
@media only screen and (max-width: 500px){

    .grid-footer .footer-text{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        font-size: 0.3em;
        text-align: right;
        margin-right: 40%;
        color: white;
    }


    .grid-footer .footer-logo{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        margin-top: 7%;
        margin-bottom: 7%;
        margin-left: 25%;
    }
}



