html {
    background-image: url('../images/BG-thin_line.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    color: white;
    line-height: 1.5rem;
}

/* ------------------------------- header--------------- */

.nav {
    height: 50px;
    width: 100%;
    background-color:#13141A;
    position: fixed;
    margin-top: -5%;
  }
  
  .nav .nav-header {
    display: inline;
  }
  
  .nav .nav-header .nav-logo {
    display: inline-block;
    color: #fff;
    padding: 10px 10px 10px 10px;
    margin-left: 2%;
  }
  
  .nav .nav-btn {
    display: none;
  }
  
  .nav .nav-links {
    display: inline;
    float: right;
    margin-right: 3%;
    font-size: 1rem;
  }
  
  .nav .nav-links a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav .nav-links a:hover {
   color:#96192B;
  }
  
  .nav #nav-check {
    display: none;
  }
  
  /* for phone */
  @media only screen and (max-width: 600px) {

    .nav .nav-btn {
      display:block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav .nav-btn label {
      display:block;
      width: 50px;
      height: 50px;
      padding: 15px;
    }
    
    .nav .nav-btn label span {
      display: block;
      width: 23px;
      height: 7px;
      border-top: 2px solid #eee;
    }
  
    
    .nav .nav-links {
      display: flex;
      flex-flow: row wrap;
      text-align: center;
      justify-content:center;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      margin-top: -1%;
    }
    .nav .nav-links a {
      text-align: center;
      border: 2px solid #eee;
      margin-left: 7%;
      margin-right:1%;
      margin-bottom: 3px;
      margin-top: 3px;
      width: 20%;
      font-size: 0.8rem;
    }
   
    .nav #nav-check:checked ~ .nav-links {
      height: calc(35vh - 50px);
    }
  }

/* ------------------------------- Main page--------------- */


#topimage {
    width: 60vw;
    height: auto;
}

.seasonmenu {
    margin-top: 5%;
}


/* ------------------------------- Main page - Season menu bar --------------- */

@media only screen and (min-width: 1000px) {

.title-season-p {
        color: white;
        text-align: center;
        font-size: 1rem;
        margin-top: 2.5vh;
}
    
.season-img1 {
        margin-top: 5vh;
        margin-bottom: 5vh;
        display: inline-block;
}    

.seasonmenu {
    text-align: center;
}


.nav-season {
    color: white;
    text-align: center;
    font-size: 1rem; 
    display: flex;
    margin: auto;
}

.nav-season li {
    display: inline-block;
    margin-left: 1vw;
    margin-right: 1vw;
}
  
.nav-season li a {
    text-align: center;
    padding: 1rem;
    float: right;
  }
  
.seasonmenu ul {
    margin: auto;
    padding: 0;
    overflow: hidden;
    width: 100%;
}  

.seasonmenu li a:hover {
    color: red;
  }
  
.seasonmenu li a {
  text-decoration: none;
  color: white;
  }


.seasonmenuintro {
    text-align: center;
}


.seasonmenubox {
    text-align: left;
    display: grid;
    height: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-right: 15%;
    margin-left: 15%;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
    background-color:#333333cb; 
    grid-gap: 5vw;
    grid-template-columns: (2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    'seasonmenuintro seasonmenuintro'
    'starters startersimage'
    'maincourses maincoursesimage'
    'desserts dessertsimage';

  }

  .seasonmenuintro { grid-area: seasonmenuintro; }
  .seasonmenuintrotext { grid-area: seasonmenuintrotext; }
  .starters { grid-area: starters; }
  .startersimage { grid-area: startersimage; }
  .maincourses { grid-area: maincourses; }
  .maincoursesimage { grid-area: maincoursesimage; }
  .desserts { grid-area: desserts; }
  .dessertsimage { grid-area: dessertsimage; }


.seasonmenubox h2 {
    color: white;
    font-size: 200%;
    margin-bottom: 2.5vh;

}

.seasonmenubox p {
    color: white;

}

.starters {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    padding-top: 5vh;
    font-size: 125%;
}

.maincourses {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    font-size: 125%;
}

.desserts {
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    font-size: 125%;
}

.startersimage img {
    width: 25vw;
    height: auto;
    margin-top: 10vh;
    margin-bottom: 5vh;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    display: inline-block;
} 

.maincoursesimage img {
    width: 25vw;
    height: auto;
    margin-top: 10vh;
    margin-bottom: 5vh;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    display: inline-block;
}

.dessertsimage img {
    width: 25vw;
    height: auto;
    margin-top: 10vh;
    margin-bottom: 5vh;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    display: inline-block;
}

.season-text {
    text-align: center;
    font-size: 1.2rem;
}


}

/* ------------------------------- Season menu - Responsive--------------- */

@media only screen and (max-width: 620px) {

    .seasonmenu {
        margin-top: 15%;
    }
    .nav {
        margin-top: -15%;
      }

      .nav #nav-check:checked ~ .nav-links {
        height: calc(37vh - 50px);
      }
    
    .title-season {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 5vh;
    }

    .title-season h1 {
        line-height: 1.2;
    }

    .title-season-p {
        margin-bottom: 5vh;
        font-size: 1rem;
    }

    .season-img1 {
        display: none;
    }

    .season-text p {
        font-size: 0.8rem;
    }


    .seasonmenu {
        text-align: center;
    }
    
    
    .nav-season {
        color: white;
        text-align: center;
        font-size: 1rem; 
        display: flex;
        margin: auto;
    }
    
    .nav-season li {
        display: inline-block;
    }
      
    .nav-season li a {
        text-align: center;
        padding: 1rem;
        float: left;
      }
      
    .seasonmenu ul {
        padding-left: 20vw;
        padding-right: 20vw;
        margin: 0;
        width: 100%;
        display: inline-block;
    }  
    
    .seasonmenu li a:hover {
        color: red;
      }
      
    .seasonmenu li a {
      text-decoration: none;
      color: white;
      }
    
    
    .seasonmenuintro {
        text-align: center;
        margin-bottom: 5vh;
    }
    
    
    .seasonmenubox {
        text-align: left;
        display: grid;
        height: auto;
        margin-top: 5vh;
        margin-bottom: 5vh;
        margin-right: 15%;
        margin-left: 15%;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-bottom: 5vh;
        background-color:#333333cb; 
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        'seasonmenuintro seasonmenuintro'
        'starters starters'
        'startersimage startersimage'
        'maincourses maincourses'
        'maincoursesimage maincoursesimage'
        'desserts desserts'
        'dessertsimage dessertsimage';
    
      }
    
      .seasonmenuintro { grid-area: seasonmenuintro; }
      .seasonmenuintrotext { grid-area: seasonmenuintrotext; }
      .starters { grid-area: starters; }
      .startersimage { grid-area: startersimage; }
      .maincourses { grid-area: maincourses; }
      .maincoursesimage { grid-area: maincoursesimage; }
      .desserts { grid-area: desserts; }
      .dessertsimage { grid-area: dessertsimage; }
    
    
    .seasonmenubox h2 {
        color: white;
        margin-left: 5vw;
        margin-right: 5vw;
        font-size: 150%;
    
    }
    
    .seasonmenubox p {
        color: white;
        margin-left: 5vw;
        margin-right: 5vw;
    
    }
    
    
    .startersimage img {
        width: 100%;
        height: auto;
        margin-top: 2vh;
        margin-bottom: 2vh;
        padding-left: 5vw;
        padding-right: 5vw;
        display: inline-block;
    } 
    
    .maincoursesimage img {
        
        width: 100%;
        height: auto;
        margin-top: 2vh;
        margin-bottom: 2vh;
        padding-left: 5vw;
        padding-right: 5vw;
        display: inline-block;
    }
    
    .dessertsimage img {
        width: 100%;
        height: auto;
        margin-top: 2vh;
        margin-bottom: 2vh;
        padding-left: 5vw;
        padding-right: 5vw;
        display: inline-block;
    }
    
    .season-text {
        text-align: center;
    }

    
}



@media only screen and (min-width: 620px) and (max-width: 1000px) {

    .title-season {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-bottom: 5vh;
    }

    .title-season-p {
        font-size: 0.9rem;
    }

    .season-text p {
        font-size: 0.9rem;
    }


    .seasonmenu {
        text-align: center;
    }
    
    
    .nav-season {
        color: white;
        text-align: center;
        font-size: 1rem; 
        display: flex;
        margin: auto;
    }
    
    .nav-season li {
        display: inline-block;
    }
      
    .nav-season li a {
        text-align: center;
        padding: 1rem;
        float: left;
      }
      
    .seasonmenu ul {
        padding-left: 20vw;
        padding-right: 20vw;
        margin: 0;
        width: 100%;
        display: inline-block;
    }  
    
    .seasonmenu li a:hover {
        color: red;
      }
      
    .seasonmenu li a {
      text-decoration: none;
      color: white;
      }
    
    
    .seasonmenuintro {
        text-align: center;
    }
    
    
    .seasonmenubox {
        text-align: left;
        display: grid;
        height: auto;
        margin-top: 5vh;
        margin-bottom: 5vh;
        margin-right: 15%;
        margin-left: 15%;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-bottom: 5vh;
        background-color:#333333cb; 
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        'seasonmenuintro seasonmenuintro'
        'starters starters'
        'startersimage startersimage'
        'maincourses maincourses'
        'maincoursesimage maincoursesimage'
        'desserts desserts'
        'dessertsimage dessertsimage';
    
      }
    
      .seasonmenuintro { grid-area: seasonmenuintro; }
      .seasonmenuintrotext { grid-area: seasonmenuintrotext; }
      .starters { grid-area: starters; }
      .startersimage { grid-area: startersimage; }
      .maincourses { grid-area: maincourses; }
      .maincoursesimage { grid-area: maincoursesimage; }
      .desserts { grid-area: desserts; }
      .dessertsimage { grid-area: dessertsimage; }
    
    
    .seasonmenubox h2 {
        color: white;
        margin-left: 5vw;
        margin-right: 5vw;
        font-size: 150%;
    
    }
    
    .seasonmenubox p {
        color: white;
        margin-left: 5vw;
        margin-right: 5vw;
    
    }
    
    
    .startersimage img {
        width: 75%;
        height: auto;
        margin-top: 2vh;
        margin-bottom: 2vh;
        margin-left: 7.5vw;
        margin-right: 7.5vw;
        display: inline-block;
    } 
    
    .maincoursesimage img {
        width: 75%;
        height: auto;
        margin-top: 2vh;
        margin-bottom: 2vh;
        margin-left: 7.5vw;
        margin-right: 7.5vw;
        display: inline-block;
    }
    
    .dessertsimage img {
        width: 75%;
        height: auto;
        margin-top: 2vh;
        margin-bottom: 2vh;
        margin-left: 7.5vw;
        margin-right: 7.5vw;
        display: inline-block;
    }
    
    .season-text {
        text-align: center;
    }
    
    
}



/* ------------------------------- footer--------------- */

@media only screen and (min-width: 768px){

.grid-footer{
    display: grid;
    margin-top: 3%;
    background-color: #13141A;  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr;
  }

  .grid-footer .footer-logo{
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-left: 5vw;
}

.footer-logo img{
   width: 60%;
   float: right;
   padding-right: 5vw;;
}

.grid-footer .footer-text{
    text-align: right;
    margin-right: 50%;
    color: white;
    font-size: 0.9em;
}

}

/* for big screens */

@media only screen and (min-width: 1700px){

    .grid-footer{
        display: grid;
        margin-top: 3%;
        background-color: #13141A;  
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr;
      }
    
      .grid-footer .footer-logo{
        margin-top: 2.5vw;
        margin-bottom: 2.5vw;
        margin-left: 5vw;
    }
    
    .footer-logo img{
       width: 60%;
       float: right;
       padding-right: 5vw;;
    }
    
    .grid-footer .footer-text{
        text-align: right;
        margin-right: 50%;
        color: white;
        font-size: 1.3em;
    }
    

}


/* for tablet */
@media only screen and (max-width: 768px){

    .grid-footer{
        display: grid;
        background-color: #13141A;  
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.2fr;
      }
    
      .grid-footer .footer-text{
        text-align: center;
        margin-right: 25%;
        margin-left: 25%;
        color: white;
        font-size: 0.5em;
    }
    

    .footer-logo {
        height: auto;
        margin-top: 5vw;
        margin-left: 35vw;
        margin-right: 35vw;
     }

    .footer-logo img{
       width: 100%;
       height: auto;
    }
}


/* for phone */
@media only screen and (max-width: 500px){

    .grid-footer{
        display: grid;
        background-color: #13141A;  
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.2fr;
      }
    
      .grid-footer .footer-text{
        text-align: center;
        margin-right: 25%;
        margin-left: 25%;
        color: white;
        font-size: 0.9em;
    }
    

    .footer-logo {
        height: auto;
        margin-top: 5vw;
        margin-left: 25vw;
        margin-right: 25vw;
        display: inline-block;
     }

    .footer-logo img{
       width: 100%;
       height: auto;
    }
    
    
}


