html {
    background-image: url(../images/BG-fit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

.header {
    position: fixed;
    background: #191c27;
    width: 101%;
    margin-top:-9px;
    margin-left: -7px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 2;
}

.logo-header {
    cursor: pointer;
    margin-right: auto;
    margin-left: 2%;
    width: 15%;
    margin-top:5px;
}
.nav-link{
    list-style: none;
}

.nav-link li{
    display: inline-block;
    padding-right:  30px;
    padding-left: 30px;
}

.nav-link li a{
    text-decoration: none;
    color: white;
}

.nav-link a:hover {
    color:  #96192b;
}




main {
    width: 1000px;
    height: 562px;
    background-image: url(/assets/images/intro.jpg);
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    position: relative;

}
main h3 {
    font-size: 35px;
    position: absolute; 
    bottom: -35px;
    left: 20px;
    color: #191c27;
} 
main h2 {
    font-size: 35px;
    position: absolute; 
    bottom: -75px;
    left: 20px;
    color: white;
} 
.buttons {
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1000px;
    column-gap: 30px;
}
.box1{
    background-image: url(/assets/images/btnmenu1.jpg);
    background-size: cover;
    font-size: 20px;
    color: white;
    width: 480px;
    height: 360px;
    text-align: center;
}
.box1 h2{
    margin-top: 80px;
}
.box1 p {
    margin-top: -20px;
    font-size: 20px;
}
.box2{
    background-image: url(/assets/images/btnevents.jpg);
    background-size: cover;
    font-size: 20px;
    color: white;
    width: 480px;
    height: 360px;
    text-align: left;
}
.box2 h2{
    margin-top: 30px;
    margin-left: 20px;
    width: 200px;
}
.box2 p {
    margin-top: 20px;
    margin-left: 20px;
    width: 230px;
    font-size: 20px;
}
.box2 i {
    
}

.bottom {
    background-image: url(/assets/images/bottom.jpg);
    width: 1000px;
    height: 562px;
    margin-top: 100px;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.bottom h2 {
    font-size: 35px;
    position: absolute; 
    width: 500px;
    text-align: right;
    color: #191c27;
} 
footer img {
    width: 200px;
    float: left;
}

@media screen and (max-width: 1000px) {
    main {
    width: 100%;
    height: auto;
    background-image: url(/assets/images/intro.jpg);
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    }

    .buttons {
    /* display: grid;
    grid-template-columns: 480px;
    grid-template-rows: 2;
         */
    display: none;
    }
    .box2 {
        grid-row;
    }
}