html {
    background-image: url('../images/BG-thin_line.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    color: white;
    line-height: 1.5rem;
}

/* ------------------------------- Header--------------- */



* {
    box-sizing: border-box;
}
body {
   margin:0;
   padding:0; 
}

.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

#logo {
    width: 150px;
    margin-left: 30px;
}

.navbar-links ul {
    margin:0;
    padding:0;
    display:flex;
    margin-right:20px;
}
.navbar-links li {
    list-style:none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding:1rem;
    display:block;

}

.navbar-links ul li a:hover {
    border: 1px solid #96192B;

}

.toggle-button {
    position: absolute;
    top: 1.55rem;
    right:1rem;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width:30px;
    height:21px;
}

.toggle-button .bar {
    height:3px;
    width:100%;
    background-color: white;
    border-radius:10px;
}


@media (max-width: 620px) {
   
    .toggle-button {
    display:flex;
}

#logo{
    width: 150px;
    margin-left: 30px;
}

.navbar-links ul li a:hover {
    background-color: #96192B;
    color: #191C27;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;

}

.navbar-links {
    display:none;
    width:100%;
   
}
.navbar {
    flex-direction: column;
    align-items:flex-start;
}
.navbar-links ul {
    flex-direction: column;
    width:100%;
    
}
.navbar-links li {
    text-align: center;
  
}
.navbar-links li a {
    padding: .5rem 1rem;
    
}
.navbar-links.active {
    display: flex;
 
}
}

.title-season {
    margin-top: 15%;
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: 1rem;

}

.title-season h1 {
    color: rgb(255, 255, 255);
    margin-bottom: 22%;
    margin-left: -76%;
}

.nav-season {
    color: white;
    text-align: center;
    font-size: 1rem; 
    display: flex;
    margin: 0;
    margin-left: 14vw;
    margin-right: 14vw;

}

#seasonnavhighlight {
    border: 1px solid #96192B;
    padding: 1rem;


}


.nav-season h3 {
margin: 0;
margin-left:10%;
    
}
.nav-season a {
    text-decoration: none;
    color: white;
}
.nav-season a:hover {
    color: #96192B;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;

}


/* ------------------------------- Main page--------------- */

.title-season-p {
    color: white;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;  
    font-size: 0.9rem;
    margin-top: 3%;
}

.season-img1 {
    text-align: center;
      grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;  

}

#topimage {
    width: 55vw;
    height: auto;
}


/* ------------------------------- Main page - Season menu bar--------------- */


.seasonmenu {
    text-align: center;
}

.seasonmenubox {
    background-color: #333333cb; 
    padding-top: 5vw;
    display: inline-block;
}

.seasonmenubox h1 {
    margin: 5vh;
}

.seasonmenubox p {
}

.nav-season {
    color: white;
    text-align: center;
    font-size: 1rem; 
    display: flex;
    margin: 0;
    margin-left: 16vw;
    margin-right: 16vw;
}

.nav-season li {
    display: inline-block;
    padding-right: 30px;
  }
  
.nav-season li a {
    text-align: center;
    padding: 10px 10px;
    float: right;
  }
  
.seasonmenu ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }  

.seasonmenu li a:hover {
    color: red;
  }
  
.seasonmenu li a {
  text-decoration: none;
  color: white;
  }

/* ------------------------------- Season menu--------------- */

.seasonmenuintro {
    text-align: center;
    font-size: 125%;
    margin-bottom: 10vh;
}


.seasonmenubox {
    text-align: left;
    display: grid;
    height: auto;
    margin-right: 15%;
    margin-left: 15%;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color:#333333cb; 
    grid-gap: 5vw;
    grid-template-columns: (2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    'seasonmenuintro seasonmenuintro'
    'starters startersimage'
    'maincourses maincoursesimage'
    'desserts dessertsimage';

  }

  .seasonmenuintro { grid-area: seasonmenuintro; }
  .seasonmenuintrotext { grid-area: seasonmenuintrotext; }
  .starters { grid-area: starters; }
  .startersimage { grid-area: startersimage; }
  .maincourses { grid-area: maincourses; }
  .maincoursesimage { grid-area: maincoursesimage; }
  .desserts { grid-area: desserts; }
  .dessertsimage { grid-area: dessertsimage; }


.seasonmenubox h2 {
    margin-left: 5vw;
    color: white;
}

.seasonmenubox p {
    padding-bottom: 5vh;
    color: white;
}

.seasonmenu img {
    width: 25vw;
    height: auto;
    margin-top: 5vh;
    margin-bottom: 7.5vh;
    display: inline-block;

}

.season-text {
    text-align: center;
}

.season-text {
    font-size: 1rem;
    margin-top: 2%;
}


.starters {
    border-bottom: 3px white solid;
}

.maincourses {
    border-bottom: 3px white solid;
}


@media (max-width: 700) {

    .seasonmenu {
    text-align: center;
}

.seasonmenubox {
    background-color: #333333cb; 
    opacity: 50%;
    padding-top: 5vw;
    display: inline-block;
}

.seasonmenubox h1 {
    margin: 5vh;
}

.nav-season li {
    display: inline-block;
    padding-right: 30px;
  }

  
.nav-season li a {
    text-align: center;
    padding: 10px 10px;
    float: right;
  }
  
.seasonmenu ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }  

.seasonmenu li a:hover {
    color: red;
  }
  
.seasonmenu li a {
  text-decoration: none;
  color: white;
  }

/* ------------------------------- Season menu--------------- */


.seasonmenubox {
    text-align: left;
    display: grid;
    height: auto;
    margin-right: 15%;
    margin-left: 15%;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color:#333333cb; 
    grid-gap: 50vw;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

  }

  .seasonmenuintro {

  }
  
  .starters {

  }
  
  .startersimage {

  }
  
  .maincourses {

  }
  
  .maincoursesimage {

  }
  
  .desserts {

  }
  
  .dessertsimage {

  }


.seasonmenuintro h1 {
    text-align: center;
    font-size: 125%;
}


.seasonmenubox h2 {
    margin-left: 1vw;
    color: white;
}

.seasonmenubox p {
    margin-bottom: 5vh;
    color: white;
}

.seasonmenubox img {
    width: 22.5vw;
    height: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.starters p {
    border-bottom: 3px white solid;
}

.maincourses {
    border-bottom: 3px white solid;
}

.seasonmenu {
    text-align: center;
}

.seasonmenubox {
    background-color: #333333cb; 
    opacity: 50%;
    padding-top: 5vw;
}

.seasonmenubox h1 {
    margin: 5vh;
}

.nav-season li {
    display: inline-block;
    padding-right: 30px;
  }
  
.nav-season li a {
    text-align: center;
    padding: 10px 10px;
    float: right;
  }
  
.seasonmenu ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
  }  

.seasonmenu li a:hover {
    color: red;
  }
  
.seasonmenu li a {
  text-decoration: none;
  color: white;
  }

/* ------------------------------- Season menu--------------- */

.seasonmenuintro {
    text-align: center;
    font-size: 125%;
    margin-bottom: 10vh;
}


.seasonmenubox {
    text-align: left;
    display: grid;
    height: auto;
    margin-right: 15%;
    margin-left: 15%;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color:#333333cb; 
    grid-gap: 2.5vw;
    grid-template-columns: (2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    'seasonmenuintro seasonmenuintro'
    'starters startersimage'
    'maincourses maincoursesimage'
    'desserts dessertsimage';

  }

  .seasonmenuintro { grid-area: seasonmenuintro; }
  .starters { grid-area: starters; }
  .startersimage { grid-area: startersimage; }
  .maincourses { grid-area: maincourses; }
  .maincoursesimage { grid-area: maincoursesimage; }
  .desserts { grid-area: desserts; }
  .dessertsimage { grid-area: dessertsimage; }


.seasonmenubox h2 {
    margin-left: 1vw;
    color: white;
}

.seasonmenubox p {
¨    color: white;
}

.seasonmenubox img {
    width: 22.5vw;
    height: auto;
    margin-top: 10vh;
}

.starters {
    border-bottom: 3px white solid;
}

.maincourses {
    border-bottom: 3px white solid;
}


}



/* ------------------------------- footer--------------- */

.grid-footer{
    display: grid;
    height: 100%;
    width: 100%;
    margin-top: 3%;
    background-color: #13141A;  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr;
  }

  .grid-footer .footer-logo{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 55%;
}

.footer-logo img{
   width: 80%;
}

.grid-footer .footer-text{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: right;
    margin-right: 50%;
    color: white;
    font-size: 0.9em;
}

/* for big screens */
@media only screen and (min-width: 2000px){

    .grid-footer .footer-text{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        font-size: 1.3em;
        margin-top: 2%;
        text-align: right;
        margin-right: 50%;
        color: white;
    }


}


/* for tablet */
@media only screen and (max-width: 768px){

    .grid-footer .footer-text{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        text-align: right;
        font-size: 0.5em;
        margin-right: 50%;
        color: white;
    }
}


/* for phone */
@media only screen and (max-width: 500px){

    .grid-footer .footer-text{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        font-size: 0.3em;
        text-align: right;
        margin-right: 40%;
        color: white;
    }


    .grid-footer .footer-logo{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        margin-top: 7%;
        margin-bottom: 7%;
        margin-left: 25%;
    }
}


