html {
    padding: 0;
    margin: 0;
    background-image: url(../images/BG-thin_line.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}
/* ------------------------------- header--------------- */
* {
    box-sizing: border-box;
}
body {
   margin:0;
   padding:0; 
}

.navbar {
    width: 100%;
    position: fixed; 
    display:flex;
    margin-top: -5%;
    justify-content: space-between;
    align-items: center;
    background-color: #13141A;
    color: white;
    font-size: 0.9rem;
}

.brand-title {
    width: 40%;
    margin-left:3%;
}

.navbar-links ul {
    width: 100%;
    margin:0;
    margin-left: -10%;
    padding:0;
    display:flex;
}
.navbar-links li {
    list-style:none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding:1rem;
    display:block;

}

.navbar-links ul li a:hover {
   color:  #96192B;

}

.toggle-button {
    position: absolute;
    top: .4rem;
    right:1rem;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width:30px;
    height:10px;
}

.toggle-button .bar {
    height:2%;
    width:60%;
    background-color: white;
    border-radius:10px;
}


/* for phone */
@media (max-width: 500px) {
  
    .brand-title img{
        width: 100%;
        margin-left:3%;
        margin-top: 2%;
    }   

    .toggle-button {
    display:flex;
}

.navbar-links ul li a:hover {
    background-color: wheat;
    color: black;
}

.navbar-links {
    display:none;
    width:100%;
   
}
.navbar {
    flex-direction: column;
    align-items:flex-start;
}
.navbar-links ul {
    flex-direction: column;
    width:100%;
    
}
.navbar-links li {
    text-align: center;
  
}
.navbar-links li a {
    padding: .5rem 1rem;
    
}
.navbar-links.active {
    display: flex;
 
}

}

/* ------------------------------- about us--------------- */

.grid-about{
    display: grid;
    height: auto;
    margin-top: 5%;
    margin-right: 15%;
    margin-left: 15%;
    background-color:#333333cb; 
    grid-gap: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 0.3fr;
    padding-bottom: 5%;
  }

.title-about-all{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    /* background: cornflowerblue; */
}

.title-about{
    color: #96192B;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    /* background: cornflowerblue; */
}

.title-about-p{
    font-size: 1.1rem;
    color: white;
}


.text-about{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-left: 35%;
    width: 60%;
    text-align: left;
    font-size: 1rem;
    color: white;
    /* background: rgb(26, 56, 112); */
}

.content-left{
     grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start:2;
    grid-row-end:2;
}

.about-text1 p{  
    margin-top: 10%;
    margin-left: 8%;
    width: 60%;
    text-align: left;
    font-size: 1rem;
    color: white;
} 

.about-img1 img{
    margin-left: 7%;
    margin-top: 3%;
    width: 60%;
}

.about-img2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:3;
    grid-row-end: 3;
    margin-top: -3%;
    margin-left: 35%;
    /* background-color:#33333398;  */
}

.about-img2 img{
    width: 85%;
}

.about-img3{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start:3;
    grid-row-end: 3;
    margin-top: 12%;
    margin-left: 8%;
   
    /* background-color:#33333398;  */
}
.about-img3 img{
    width: 66%;
}


/* for big screen */
 @media only screen and (min-width: 2000px){

    .title-about-all{
        font-size: 1.5rem;
    }

    .title-about-p{
        font-size: 1.3rem;
    }

    .text-about{
        font-size: 1.3rem;
    }
    .about-text1 p{
        margin-top: 8%;
        font-size: 1.3rem;
    }
    .about-img2{
        margin-top: -2%;
    } 
}  

/* for big screen */
@media only screen and (max-width: 1024px){

    .title-about-all{
        font-size: 1.3rem;
    }

    .title-about-p{
        font-size: 1rem;
    }

    .text-about{
        font-size: 0.9rem;
    }
    .about-text1 p{
        margin-top: 25%;
        font-size: 0.9rem;
    }
}  



/* for tablet */
@media only screen and (max-width: 768px){
    .title-about-all{
        font-size: 1rem;
    }

    .title-about-p{
        font-size: 0.8rem;
    }

    .text-about{
        margin-top: 0%;
        font-size: 0.7rem;
    }
    .about-text1 p{
        margin-top: 25%;
        font-size: 0.7rem;
    }

    .about-img2{
        margin-top: 3%;
    }

    .about-img3{
        margin-top: 17%;
    }

}

/* for phone */
@media only screen and (max-width: 500px){

    .grid-about{
        grid-template-columns: 1fr;
        grid-template-rows: 0.3fr 0.3fr 0.5fr 0.5fr 0.2fr ;
      }

    .title-about{
        font-size: 1.2rem;
    }
     
    .title-about-p{
        font-size: 0.8rem;
    }
    
     .about-img2{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start:2;
        grid-row-end: 2;
        margin-top: 0%;
        margin-left: 20%;
    }
    
    .about-img2 img{
        width: 75%;
    }

    .text-about{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 3;
        margin-left: 15%;
        margin-top: 5%;
        width: 70%;
        font-size: 0.7rem;
    }

    .content-left{
         grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start:4;
        grid-row-end:4;
    }
    
    .about-text1 p{  
        margin-top: 5%;
        margin-left: 15%;
        width: 70%;
        text-align: left;
        font-size: 0.7rem;
    } 
    
    .about-img1 img{
        margin-left: 15%;
        margin-top: 5%;
        width: 70%;
    }
 
    .about-img3{
        grid-column-start:1;
        grid-column-end: 4;
        grid-row-start:5;
        grid-row-end:5;
        margin-top: 5%;
        margin-left: 15%;
       
        /* background-color:#33333398;  */
    }
    .about-img3 img{
        width: 80%;
    }




}




/* ------------------------------- footer--------------- */

.grid-footer{
    display: grid;
    height: 100%;
    width: 100%;
    margin-top: 3%;
    background-color: #13141A;  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr;
  }

  .grid-footer .footer-logo{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 55%;
}

.footer-logo img{
   width: 80%;
}

.grid-footer .footer-text{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: right;
    margin-right: 50%;
    color: white;
    font-size: 0.9em;
}

/* for big screens */
@media only screen and (min-width: 2000px){

    .grid-footer .footer-text{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        font-size: 1.3em;
        margin-top: 2%;
        text-align: right;
        margin-right: 50%;
        color: white;
    }


}


/* for tablet */
@media only screen and (max-width: 768px){

    .grid-footer .footer-text{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        text-align: right;
        font-size: 0.5em;
        margin-right: 50%;
        color: white;
    }
}


/* for phone */
@media only screen and (max-width: 500px){

    .grid-footer .footer-text{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        font-size: 0.3em;
        text-align: right;
        margin-right: 40%;
        color: white;
    }


    .grid-footer .footer-logo{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        margin-top: 7%;
        margin-bottom: 7%;
        margin-left: 25%;
    }
}



