html {
    padding: 0;
    margin: 0;
    background-image: url('../images/BG-thin_line.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}
body {
   margin:0;
   padding:0; 
}

/* ------------------------------- header--------------- */
.nav {
    height: 50px;
    width: 100%;
    background-color:#13141A;
    position: fixed;
    margin-top: -5%;
  }
  
  .nav .nav-header {
    display: inline;
  }
  
  .nav .nav-header .nav-logo {
    display: inline-block;
    color: #fff;
    padding: 10px 10px 10px 10px;
    margin-left: 2%;
  }
  
  .nav .nav-btn {
    display: none;
  }
  
  .nav .nav-links {
    display: inline;
    float: right;
    margin-right: 3%;
    font-size: 1rem;
  }
  
  .nav .nav-links a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav .nav-links a:hover {
   color:#96192B;
  }
  
  .nav #nav-check {
    display: none;
  }
  
  /* for phone */
  @media only screen and (max-width: 600px) {

    .nav .nav-btn {
      display:block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav .nav-btn label {
      display:block;
      width: 50px;
      height: 50px;
      padding: 15px;
    }
    
    .nav .nav-btn label span {
      display: block;
      width: 23px;
      height: 7px;
      border-top: 2px solid #eee;
    }
  
    
    .nav .nav-links {
      display: flex;
      flex-flow: row wrap;
      text-align: center;
      justify-content:center;
      width: 100%;
      background-color: #13141A;  
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      margin-top: -1%;
    }
    .nav .nav-links a {
      text-align: center;
      border: 2px solid #eee;
      margin-left: 7%;
      margin-right:1%;
      margin-bottom: 3px;
      margin-top: 3px;
      width: 27%;
      font-size: 0.8rem;
    }
   
    .nav #nav-check:checked ~ .nav-links {
      height: calc(42vh - 50px);
    }
  }

  /* ------------------------------- Reviews --------------- */
.reviews {
    position: relative;
    margin-top: 50px;
    width: 150PX;
    grid-row-start: 8;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 1;
    margin-left: 35%;
    z-index: 0;
  }
  
  .reviews img {
    position: absolute;
    width:100%;
    left: 0;
    box-shadow: 3px 3px 10px black;
  }
  
  .ratebtn {
    position: absolute;
    width: 100%;
    left:0;
    top: 0px;
    text-align: center;
    opacity: 0;
    transition: opacity .4s ease;
  }
  
  .ratebtn a {
    z-index: 1;
  }
  
  .reviews:hover .ratebtn {
    opacity: 1;
  }
  
/* ------------------------------- Confirmation --------------- */

  
.grid-wedding{
    display: grid;
    height: 100%;
    margin-top: 5%;
    margin-right: 15%;
    margin-left: 15%;
    background-color:#333333cb; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:0.2fr 0.2fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.7fr;
  }

  .grid-wedding{
      font-size: 1rem;
      color: #96192B;
  }

/* ------ litle-nav ------- */
.wedding-nav-title  {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1; 
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
} 

 .wedding-nav {
     margin-top: -1.5%;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;    
 } 
 
 .wedding-nav p {
    display: inline-block;
    font-size: 15px;
    text-decoration: none;
    padding: 10px;
 }

 .wedding-nav p a {
    text-decoration: none;
    color: rgb(255, 255, 255);
 }

 .wedding-nav p a:hover {
   color:#96192B;
   
}

.wedding-nav p .active{
    color:white;
    border: 1px solid #96192B;
    padding: 15px;
 }




 .grid-wedding .title-wedding{
    color: white;
    text-align: center;
    margin-top: -1.5%;
    margin-bottom: 3%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    font-size: 1.1rem;
}

.title-wedding p {
    font-size:1rem;
    font-weight: bold;
    color:white;  

}
.title-wedding .line {
    content: "";
    background: rgb(255, 255, 255);
    height: 1.5px;
    width:23% ;
    margin-top: -1%;
    margin-left: 39%;
}



.wedding-img1 {
    text-align: center;
     grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      grid-row-end: 3; 
}

.wedding-img1 img {
    width:90%; 
}

.wedding-img2 {
    text-align: center;
    grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 3;
     grid-row-end: 3; 
    
}
.wedding-img2 img {
    width:90%;
}

.wedding-img2-phone img {
    display: none;
    } 

.wedding-img3 {
    text-align: center;
     grid-column-start: 3;
     grid-column-end: 4;
     grid-row-start: 3;
     grid-row-end: 3;    
}
.wedding-img3 img {
    width:90%;
}


.wedding-text1 {
    margin-top: 7%;
    margin-left: 35%;
    text-align: left;
    grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 4;
     grid-row-end: 4; 
     width: 90%;
}
.wedding-text1 p {
    font-size:1.1rem;
    color: white;
    margin-left:1%;
}

.wedding-text5 {
    margin-top: 7%;
    text-align: left;
    margin-left: 18%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5; 
}

.wedding-text5 p {
    font-size:  1.1rem;
    width: 60%;
    color: white;
}

 .wedding-text2 {
    margin-top: 7%;
    text-align: left;
    margin-left: 18%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 6; 
} 
.wedding-text2 p {
    font-size:  1.1rem;
    width: 60%;
    color: white;
}

.price {
    margin-top: 7%;
    margin-left: 35%;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 7; 
}

.price p{
    font-size: 1rem;
    padding: 5%;
    width: 110%;
    color: white;
    border:solid  2px #96192B;
    margin-bottom: -10%;
    }



.wedding-right {
    text-align: left;
    margin-left:-23%;
    margin-top:67%;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 9;  
}

.wedding-right p {
    font-size:  1.1rem;
    color: rgb(255, 255, 255);
    width:90%;
}





/* for tablet */
@media only screen and (max-width: 768px){
    .nav {
        margin-top: -10%;
      }
    
.grid-wedding{
    display: grid;
    height: 100%;
    margin-top: 10%;
    margin-right: 15%;
    margin-left: 15%;
    background-color:#333333cb;  
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:0.3fr 0.2fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.7fr;
    }

    .grid-wedding{
        font-size: 0.8rem;
        color: #96192B;
    }
  

.wedding-nav-title  {
    font-size: 1.2rem;
} 

.wedding-nav  {
    margin-top: -3%;
    }
 .wedding-nav p {
    font-size:0.7rem;
    }
  
.wedding-nav p .active{
    font-size:0.7rem;
    }
    
.grid-wedding .title-wedding{
    margin-top: -3%;
    font-size: 0.9rem;
    }
    
.title-wedding p {
    font-size:0.8rem;
    color:white;  
    }

.wedding-img1  {
        margin-top: 10%;
       }
   
.wedding-img2 {
    margin-top: 10%;
}

.wedding-img3 {
    margin-top: 10%;
}


.wedding-text1 {
    margin-left: 20%;
    margin-top: 20%;
    }
    
.wedding-text1 p {
    font-size:1rem;
    width: 120%;
}
.wedding-text5 {
    text-align: left;
    margin-left: 8%;
    margin-top: 3%;
}

.wedding-text5 p {
    font-size:1rem;
    width: 60%;
    margin-top:0%;
}

.wedding-text2 {
    margin-top: 5%;
    margin-left:8%;
} 

.wedding-text2 p {
    font-size:1rem;
    width: 59%;
    color: white;
}
.wedding-text3 {
    margin-top: 1%;
    margin-left: 8%; 
}

.wedding-text3 p {
    font-size:1rem;
} 

.wedding-right {
    margin-top: 85%;
    margin-right: 5%;
} 

.wedding-right p {
    font-size:1rem;
    width: 100%;
}

.price p{
    margin-left: -35%;
    }
.price p{
    font-size: 0.9rem;
    width: 180%;
    }

}


/* for phone */
@media only screen and (max-width: 700px){
    .nav {
        margin-top: -15%;
      }

      .nav .nav-links a {
        width: 30%;
      }
     

    .grid-wedding{
    display: grid;
    height: 100%;
    margin-top: 15%;
    margin-right: 15%;
    margin-left: 15%;
    background-color:#333333cb;  
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
    } 

    .wedding-nav-title h1{
       font-size:1.2rem;
    }

    .wedding-nav p {
        font-size:0.7rem;
        padding-left:0.5rem;
        padding-right:0.5rem;
        }
      
    .wedding-nav p .active{
        margin-top: -6%;
        font-size:0.7rem;
        }
        
    .grid-wedding .title-wedding{
        font-size: 0.6rem;
        margin-top: -5%;
        }
        
    .title-wedding p {
        margin-left: 20%;
        width: 60%;
        font-size:0.7rem;
        color:white;  
        }
    
    .title-wedding .line {
        height: 1.2px;
        width:30% ;
        margin-top: -1.5%;
        margin-left: 35%;
    }

    .wedding-img1 {
        margin-top: 5%;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 3; 
        }
        
    .wedding-img1 img {
        width:70%; 
        }


.wedding-text1{
    margin-top: 10%;
    margin-left: 10%;
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4; 
}

.wedding-text1 p{
    width: 90%;
    font-size: 0.8rem;
}

.wedding-text5{
    margin-top: 10%;
    text-align: left;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5; 
}

.wedding-text5 p{
    font-size: 0.8rem;
    width: 90%;
}


    .wedding-img2 img {
    display: none;
} 
.wedding-img3 img {
    display: none;
} 


    .wedding-text2{
        margin-top: 10%;
        text-align: left;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 6;
        grid-row-end: 6; 
    }
    
    .wedding-text2 p{
        font-size: 0.8rem;
        width: 93%;
    }

    
    .price {
    margin-left: 52%;
    margin-top: 10%;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 7; 
}

.price p{
    font-size: 0.8rem;
    padding: 2%;
    color: white;
    border: solid 2px #96192B;
    width: 140%;
    }

.reviews{
    grid-row: 8;
    grid-column: 1/3;
}
    .wedding-right{
        margin-top: 15%;
        text-align: left;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 9;
        grid-row-end: 9; 
    }
    
    .wedding-right h2{
        font-size: 0.8rem;
        margin-left: 25%;
        width: 70%;  
    }

    .wedding-right p{
        font-size: 0.8rem;
        margin-left: 25%;
        width: 70%;  
    }

}




/* ------------------------------- footer--------------- */

.grid-footer{
    display: grid;
    height: 100%;
    width: 100%;
    margin-top: 3%;
    background-color: #13141A;  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr;
  }

  .grid-footer .footer-logo{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 55%;
}

.footer-logo img{
   width: 80%;
}

.grid-footer .footer-text{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: right;
    margin-right: 50%;
    color: white;
    font-size: 0.9em;
}

.footer-text a{
    margin: 3%;
    color: white;
    font-size: 23px;
}

/* for big screens */
@media only screen and (min-width: 2000px){

    .grid-footer .footer-text{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        font-size: 1.3em;
        margin-top: 2%;
        text-align: right;
        margin-right: 50%;
        color: white;
    }


}


/* for tablet */
@media only screen and (max-width: 768px){

    .grid-footer .footer-text{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        text-align: right;
        font-size: 0.5em;
        margin-right: 50%;
        color: white;
    }
}


/* for phone */
@media only screen and (max-width: 500px){

    .grid-footer .footer-text{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        font-size: 0.5em;
        text-align: right;
        margin-right: 40%;
        color: white;
        width: 80%;
    }


    .grid-footer .footer-logo{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        margin-top: 7%;
        margin-bottom: 7%;
        margin-left: 25%;
    }
}
