html {
    padding: 0;
    margin: 0;
    background-image: url('../images/BG-thin_line.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

/* ------------------------------- Header--------------- */
* {
    box-sizing: border-box;
}
body {
   margin:0;
   padding:0; 
}

.navbar {
    z-index: 2;
    width: 100%;
    position: fixed; 
    display:flex;
    margin-top: -0.01%;
    justify-content: space-between;
    align-items: center;
    background-color: #13141A;
    color: white;
    font-size: 0.9rem;
}

.brand-title {
    width: 40%;
    margin-left:3%;
}

.navbar-links ul {
    width: 100%;
    margin:0;
    margin-left: -10%;
    padding:0;
    display:flex;
}
.navbar-links li {
    list-style:none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding:1rem;
    display:block;

}

.navbar-links ul li a:hover {
   color:  #96192B;

}

.toggle-button {
    position: absolute;
    top: .8rem;
    right:1.5rem;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width:30px;
    height:20px;
}

.toggle-button .bar {
    height:2%;
    width:90%;
    background-color: white;
    border-radius:10px;
}




.navbar-links-mobile {
    display: none;
}

@media (max-width: 500px) {
    .navbar-links-mobile {
        display: none;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 150px;
        width: 500px;
        height: 300px;
        row-gap: 0px;
        column-gap: 0px;
        margin-top: 50px;
        }
        .navbar-links-mobile button {
            margin: 0px;
            background-color: transparent;
            border: 2px solid white;
            width: 180px;
            height: 100px;
            justify-self: center;
        }
        .navbar-links-mobile h3 {
            color: white;
            font-size: 20px;
            text-align: center;
            margin: 0px;
        }
        /* .navbar-links-mobile img {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        grid-column-start: 1;
        grid-column-end: 3;
        align-self: center;
        justify-self: center;
        } */
        
    .navbar-links-mobile.active {
        display: grid;
     
    }
    .brand-title img{
        width: 100%;
        margin-left:3%;
        margin-top: 2%;
    }   

    .toggle-button {
    display:flex;
}

.navbar-links ul li a:hover {
    background-color: wheat;
    color: black;
}

.navbar-links {
    display:none;
    width:100%;
   
}
.navbar {
    flex-direction: column;
    align-items:flex-start;
}
.navbar-links ul {
    flex-direction: column;
    width:100%;
    display: none;
    
}
.navbar-links li {
    text-align: center;
  
}
.navbar-links li a {
    padding: .5rem 1rem;
    
}
.navbar-links.active {
    display: flex;
 
}

}
/* ------------------------------- main-page--------------- */

main {
    width: 1000px;
    height: 562px;
    background-image: url('../images/intro.jpg');
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: -5;
    zoom: 80%;

}
main h3 {
    font-size: 35px;
    position: absolute; 
    bottom: -35px;
    left: 20px;
    color: #191c27;
} 
main h2 {
    font-size: 35px;
    position: absolute; 
    bottom: -75px;
    left: 20px;
    color: white;
} 
.buttons {
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1000px;
    column-gap: 30px;
    zoom: 80%;
}
.box1{
    background-image: url('../images/box1.jpg');
    background-size: cover;
    font-size: 20px;
    color: white;
    width: 480px;
    height: 360px;
    text-align: right;
    display: grid;
    grid-template-rows:1fr 1fr 1fr ;
}
.box1 a {
    font-size: 60px;
    color: white;
    margin-top: -40px;
    justify-self: center;
}
.box1 h2{
    margin-top: 100px;
    margin-right: 40px;
    width: 200px;
    justify-self: right;
}
.box1 p {
    margin-top: -5px;
    font-size: 20px;
    margin-right: 40px;
    width: 270px;
    justify-self: right;
}

.box1 button {
    color: white;
    border: none;
    background-color: transparent;
    width: 500px;
    height: 70px;
}
.box1 h5 {
    font-size: 25px;
    margin-top: 20px;
    margin-right: 40px;
    padding: 0;
    text-align: right;
}
.box2 button {
    color: white;
    border: none;
    background-color: transparent;
    width: 500px;
    height: 70px;
}
.box2 h5 {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 0;
    text-align: left;
}

.box2{
    background-image: url('../images/btnevents.jpg');
    background-size: cover;
    font-size: 20px;
    color: white;
    width: 480px;
    height: 360px;
    text-align: left;
    display: grid;
    grid-template-rows:1fr 1fr 1fr ;
}
.box2 h2{
    margin-top: 100px;
    margin-left: 20px;
    width: 200px;
}
.box2 p {
    margin-top: -5px;
    margin-left: 20px;
    width: 230px;
    font-size: 20px;
}
.box2 a {
    font-size: 60px;
    color: white;
    margin-top: -15px;
    justify-self: center;
}

.bottom {
    background-image: url('../images/bottomimg.jpg');
    width: 1000px;
    height: 562px;
    margin-top: 100px;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    zoom: 80%;
}
.bottom h2 {
    font-size: 40px;
    width: 800px;
    position: absolute;
    text-align: center;
    color: white;
    margin-top: 420px;
    margin-left: 10%;
} 
footer img {
    width: 200px;
    float: left;
}

@media screen and (max-width: 1000px) {
    .buttons {
    display: grid;
    grid-template-columns: 480px;
    grid-template-rows: 2;
    row-gap: 30px;
    margin-left: 50%;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    }
}
button {
    /* max-width: 300px;
    margin: 20px 30px;
    background-color:  #96192b;
    border: solid 2px white;
    color: white;
    font-size: 20px; */
}

/* ------------------------------- about us--------------- */

.grid-about{
    display: grid;
    height: auto;
    margin-top: 5%;
    margin-right: 15%;
    margin-left: 15%;
    background-color:#333333cb; 
    grid-gap: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr;
  }

.grid-about .title-about{
    color: #96192B;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    /* background: cornflowerblue; */
}

.title-about p{
    font-size: 1.3rem;
    color: white;
}

.grid-about .text-about{
    text-align: left;
    font-size: 1.2rem;
    color: white;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    padding-right: 10%;
    padding-left: 35%;
    /* background: rgb(26, 56, 112); */
}
.grid-about .text-about1{
    text-align: left;
    font-size: 1.2rem;
    color: white;
    padding: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
    padding-right: 10%;
    padding-left: 35%;
    /* background: rgb(147, 183, 248); */
}


.grid-about .about-img1{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start:2;
    grid-row-end: 2;
    padding-right:35%;
    padding-left: 10%;
    text-align: left;
    font-size: 1.2rem;
    color: white;
    /* background: rgb(4, 14, 31); */
}

.grid-about .about-img1 img{
    width: 100%;
}

.grid-about .about-img2{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:3;
    grid-row-end: 3;
    padding-right:8%;
    padding-left: 32%;
    /* background-color:#33333398;  */
}

.grid-about .about-img2 img{
    width: 100%;
}

.grid-about .about-img3{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start:3;
    grid-row-end: 3;
    padding-right:32%;
    padding-left: 8%;
    /* background-color:#33333398;  */
}
.grid-about .about-img3 img{
    width: 100%;
}


/* for tablet */
@media only screen and (max-width: 768px){

    .grid-about{
        display: grid;
        height: auto;
        margin-top: 5%;
        margin-right: 15%;
        margin-left: 15%;
        background-color:#333333cb; 
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr 1fr;
      }


      .grid-about .title-about{
        color: #96192B;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
        /* background: cornflowerblue; */
    }
    
    .title-about p{
        font-size: 1rem;
        color: white;
    }
    
    .grid-about .text-about{
        text-align: left;
        font-size: 1rem;
        color: white;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
        padding-right: 10%;
        padding-left: 35%;
        /* background: rgb(26, 56, 112); */
    }
    .grid-about .text-about1{
        text-align: left;
        font-size: 1rem;
        color: white;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
        padding-right: 10%;
        padding-left: 35%;
        /* background: rgb(147, 183, 248); */
    }
    
    
    .grid-about .about-img1{
        margin-top: 15%;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start:2;
        grid-row-end: 2;
        padding-right:35%;
        padding-left: 10%;
        text-align: left;
        font-size: 1rem;
        color: white;
        /* background: rgb(4, 14, 31); */
    }





    .grid-about .about-img1 p{
       margin-top: 55%;
    }
    
    .grid-about .about-img1 img{
        width: 100%;
    }
    
    .grid-about .about-img2{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start:3;
        grid-row-end: 3;
        padding-right:8%;
        padding-left: 32%;
        /* background-color:#33333398;  */
    }
    
    .grid-about .about-img2 img{
        width: 100%;
    }
    
    .grid-about .about-img3{
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start:3;
        grid-row-end: 3;
        padding-right:32%;
        padding-left: 8%;
        /* background-color:#33333398;  */
    }
    .grid-about .about-img3 img{
        width: 100%;
    }

}
/* for phone */
@media only screen and (max-width: 500px){

    .grid-about{
        display: grid;
        height: auto;
        margin-top: 5%;
        margin-right: 15%;
        margin-left: 15%;
        background-color:#333333cb; 
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.5fr 0.5fr 0.5fr;
      }


      .grid-about .title-about{
        color: #96192B;
        font-size: 15px;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 1;
        /* background: cornflowerblue; */
    }
    
    .title-about p{
        font-size: 8px;
        color: white;
    }
    
    .grid-about .text-about{
        text-align: left;
        width: 60%;
        font-size: 10px;
        color: white;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 2;
        margin-right: 55%;
        margin-left: -15%;
        /* background: rgb(26, 56, 112); */
    }
    
    .grid-about .about-img1{
        margin-top: 5%;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start:3;
        grid-row-end: 3;
        text-align: center;
        font-size: 10px;
        color: white;
        /* background: rgb(4, 14, 31); */
    }

    .grid-about .about-img1 p{
        text-align: left;
        width: 100%;
       margin-top: 20%;
       margin-left: 25%;
    }
    
    .grid-about .about-img1 img{
        width: 100%;
        margin-left: 25%;
    }
    
    .grid-about .about-img2{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start:4;
        grid-row-end: 4;
    }
    
    .grid-about .about-img2 img{
        width: 100%;
        margin-left: -20%;
    }
    
    .grid-about .about-img3{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start:5;
        grid-row-end: 5;
        padding-right:32%;
        padding-left: 8%;
    }
    .grid-about .about-img3 img{
        width: 100%;
        margin-left: 20%;
    }

}




/* ------------------------------- confirmation --------------- */

.grid-confirmation{
    display: grid;
    height: 100%;
    margin-top: 5%;
    margin-right: 15%;
    margin-left: 15%;
    background-color:#ff2d2d; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.3fr 0.3fr 1fr;
  }

  .grid-confirmation .title-confirmation{
    color: #96192B;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    /* background: cornflowerblue; */
}

.title-confirmation p{
    font-size: 1.3rem;
    color: white;
}

.grid-confirmation .confirmation-img4{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start:2;
    grid-row-end: 2;
    /* background-color:#33333398;  */
}
.grid-confirmation .confirmation-img4 img{
    width: 85%;
}

.grid-confirmation .confirmation-img5{
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end: 2;
    /* background-color:#33333398;  */
}
.grid-confirmation .confirmation-img5 img{
    width: 68%;
}

.grid-confirmation .confirmation-img6{
    text-align: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start:2;
    grid-row-end: 2;
    /* background-color:#33333398;  */
}
.grid-confirmation .confirmation-img6 img{
    width: 85%;
}

.confirmation-text{
    margin-top: 5%;
    text-align: left;
    margin-left: 8%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:3;
    grid-row-end: 3;
}

.confirmation-text h2{
  font-size: 1.4rem;
  color: #96192B;
}

.confirmation-text p{
    font-size:  1.2rem;
    width: 60%;
    color: white;
  }

  .confirmation-text1{
    margin-top: 5%;
    text-align: left;
    margin-left: 8%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:4;
    grid-row-end: 4;
}

.confirmation-text1 h2{
  font-size:  1.4rem;
  color: #96192B;
}

.confirmation-text1 p{
    font-size:  1.2rem;
    width: 60%;
    color: white;
  }

  .confirmation-text2{
    text-align: left;
    margin-left: 8%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:5;
    grid-row-end: 5;
}

.confirmation-text2 h2{
  font-size:  1.4rem;
  color: #96192B;
}

.confirmation-text2 p{
    font-size:  1.2rem;
    width: 60%;
    color: white;
  }

  .confirmation-text3 {
    text-align: left;
    margin-top: -25%;
    margin-left: 8%;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:6;
    grid-row-end: 6;
}

.confirmation-text3 p{
font-size: 17px;
padding: 2%;
width: 40%;
color: white;
border: solid 3px  #96192B;
}

.confirmation-text4 {
    width: 60%;
    text-align: left;
    margin-top: 5%;
    margin-left: 35%;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start:3;
    grid-row-end: 6;
}

.confirmation-text4 h2{
    font-size:  1.4rem;;
    color: #96192B;
}

.confirmation-text4 p{
    font-size: 1.2rem;
    color: #ffffff;
}

/* for tablet */
@media only screen and (max-width: 1024px){

    .confirmation-text3 {
        text-align: left;
        margin-top: -40%;
        margin-left: 8%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start:6;
        grid-row-end: 6;
    }
    
    .confirmation-text3 p{
    font-size: 17px;
    padding: 2%;
    width: 40%;
    color: white;
    border: solid 3px  #96192B;
    }

}


/* for tablet */
@media only screen and (max-width: 768px){

    .grid-confirmation{
        display: grid;
        height: 100%;
        margin-top: 5%;
        margin-right: 15%;
        margin-left: 15%;
        background-color:#ff2d2d; 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 0.2fr 0.3fr 0.3fr 0.3fr;
      }
    
      .grid-confirmation .title-confirmation{
        color: #96192B;
        font-size:  1.2rem;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        /* background: cornflowerblue; */
    }
    
    .title-confirmation p{
        font-size:  1rem;
        color: white;
    }
    
    .grid-confirmation .confirmation-img4{
        margin-top:-35%;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start:2;
        grid-row-end: 2;
        /* background-color:#33333398;  */
    }
    .grid-confirmation .confirmation-img4 img{
        width: 85%;
    }
    
    .grid-confirmation .confirmation-img5{
        margin-top:-35%;
        text-align: center;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start:2;
        grid-row-end: 2;
        /* background-color:#33333398;  */
    }
    .grid-confirmation .confirmation-img5 img{
        width: 68%;
    }
    
    .grid-confirmation .confirmation-img6{
        margin-top:-35%;
        text-align: center;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start:2;
        grid-row-end: 2;
        /* background-color:#33333398;  */
    }
    .grid-confirmation .confirmation-img6 img{
        width: 85%;
    }
    
    .confirmation-text{
        margin-top: -20%;
        text-align: left;
        margin-left: 8%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start:3;
        grid-row-end: 3;
    }
    
    .confirmation-text h2{
      font-size:  1.2rem;
      color: #96192B;
    }
    
    .confirmation-text p{
        font-size: 1rem;
        width: 60%;
        color: white;
      }
    
      .confirmation-text1{
        margin-top: -20%;
        text-align: left;
        margin-left: 8%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start:4;
        grid-row-end: 4;
    }
    
    .confirmation-text1 h2{
      font-size: 1.2rem;
      color: #96192B;
    }
    
    .confirmation-text1 p{
        font-size:  1rem;
        width: 60%;
        color: white;
      }
    
      .confirmation-text2{
        margin-top: -20%;
        text-align: left;
        margin-left: 8%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start:5;
        grid-row-end: 5;
    }
    
    .confirmation-text2 h2{
      font-size:  1.2rem;
      color: #96192B;
    }
    
    .confirmation-text2 p{
        font-size: 1rem;
        width: 60%;
        color: white;
      }
    
      .confirmation-text3 {
        text-align: left;
        margin-top: -20%;
        margin-left: 8%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start:6;
        grid-row-end: 6;
    }
    
    .confirmation-text3 p{
    font-size:  1rem;
    padding: 2%;
    width: 40%;
    color: white;
    border: solid 3px  #96192B;
    }
    
    .confirmation-text4 {
        width: 60%;
        text-align: left;
        margin-top: -20%;;
        margin-left: 35%;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start:3;
        grid-row-end: 6;
    }
    
    .confirmation-text4 h2{
        font-size:  1.2rem;
        color: #96192B;
    }
    
    .confirmation-text4 p{
        font-size:  1rem;
        color: #ffffff;
    }
    

}



/* for phone */
@media only screen and (max-width: 500px){

    .grid-confirmation{
        display: grid;
        height: 100%;
        margin-top: 5%;
        margin-right: 15%;
        margin-left: 15%;
        background-color:#ff2d2d; 
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 0.2fr 0.3fr 0.3fr 0.3fr;
      }
    
      .grid-confirmation .title-confirmation{
        color: #96192B;
        font-size:  1rem;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        /* background: cornflowerblue; */
    }
    
    .title-confirmation p{
        font-size:  0.7rem;
        color: white;
    }
    
    .grid-confirmation .confirmation-img4{
        margin-top:-45%;
        text-align: center;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start:2;
        grid-row-end: 2;
        /* background-color:#33333398;  */
    }
    .grid-confirmation .confirmation-img4 img{
        width: 85%;
    }
    
    .grid-confirmation .confirmation-img5{
        margin-top:-45%;
        text-align: center;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start:2;
        grid-row-end: 2;
        /* background-color:#33333398;  */
    }
    .grid-confirmation .confirmation-img5 img{
        width: 68%;
    }
    
    .grid-confirmation .confirmation-img6{
        margin-top:-45%;
        text-align: center;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start:2;
        grid-row-end: 2;
        /* background-color:#33333398;  */
    }
    .grid-confirmation .confirmation-img6 img{
        width: 85%;
    }
    
    .confirmation-text{
        margin-top: -60%;
        text-align: left;
        margin-left: 8%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start:3;
        grid-row-end: 3;
    }
    
    .confirmation-text h2{
      font-size:  0.8rem;
      color: #96192B;
    }
    
    .confirmation-text p{
        font-size: 0.7rem;
        width: 60%;
        color: white;
      }
    
      .confirmation-text1{
        margin-top: -30%;
        text-align: left;
        margin-left: 8%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start:4;
        grid-row-end: 4;
    }
    
    .confirmation-text1 h2{
        font-size:  0.8rem;
      color: #96192B;
    }
    
    .confirmation-text1 p{
        font-size:  0.8rem;
        width: 60%;
        color: white;
      }
    
      .confirmation-text2{
        margin-top: -30%;
        text-align: left;
        margin-left: 8%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start:5;
        grid-row-end: 5;
    }
    
    .confirmation-text2 h2{
        font-size:  0.8rem;
      color: #96192B;
    }
    
    .confirmation-text2 p{
        font-size: 0.7rem;
        width: 60%;
        color: white;
      }
    
      .confirmation-text3 {
        text-align: left;
        margin-top: -30%;
        margin-left: 8%;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start:6;
        grid-row-end: 6;
    }
    
    .confirmation-text3 p{
    font-size:  0.7rem;
    padding: 2%;
    width: 50%;
    color: white;
    border: solid 3px  #96192B;
    }
    
    .confirmation-text4 {
        width: 60%;
        text-align: left;
        margin-top: -60%;;
        margin-left: 35%;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start:3;
        grid-row-end: 6;
    }
    
    .confirmation-text4 h2{
        font-size:  0.8rem;
        color: #96192B;
    }
    
    .confirmation-text4 p{
        font-size:  0.7rem;
        color: #ffffff;
    }
    

}


/* ------------------------------- footer--------------- */

/* ------------------------------- footer--------------- */

.grid-footer{
    display: grid;
    height: 100%;
    width: 100%;
    margin-top: 3%;
    background-color: #13141A;  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr;
  }

  .grid-footer .footer-logo{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 55%;
}

.footer-logo img{
   width: 80%;
}

.grid-footer .footer-text{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: right;
    margin-right: 50%;
    color: white;
    font-size: 0.9em;
}

/* for big screens */
@media only screen and (min-width: 2000px){

    .grid-footer .footer-text{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        font-size: 1.3em;
        margin-top: 2%;
        text-align: right;
        margin-right: 50%;
        color: white;
    }


}


/* for tablet */
@media only screen and (max-width: 768px){

    .grid-footer .footer-text{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        text-align: right;
        font-size: 0.5em;
        margin-right: 50%;
        color: white;
    }
}


/* for phone */
@media only screen and (max-width: 500px){

    .grid-footer .footer-text{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        font-size: 0.3em;
        text-align: right;
        margin-right: 40%;
        color: white;
    }


    .grid-footer .footer-logo{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        margin-top: 7%;
        margin-bottom: 7%;
        margin-left: 25%;
    }
}

