html {
    padding: 0;
    margin: 0;
    background-image: url('../images/BG-thin_line.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

/* ------------------------------- Header--------------- */
* {
    box-sizing: border-box;
}
body {
   margin:0;
   padding:0; 
}

.navbar {
    z-index: 2;
    width: 100%;
    position: fixed; 
    display:flex;
    margin-top: -5.3%;
    padding-bottom: 0.2%;
    padding-top:0.1%;
    justify-content: space-between;
    align-items: center;
    background-color: #13141A;
    color: white;
    font-size: 0.9rem;
}

.brand-title {
    width: 40%;
    margin-left:3%;
}

.navbar-links ul {
    width: 100%;
    margin:0;
    margin-left: -10%;
    padding:0;
    display:flex;
}
.navbar-links li {
    list-style:none;
}

.navbar-links li a {
    text-decoration: none;
    color: white;
    padding:1rem;
    display:block;

}

.navbar-links ul li a:hover {
   color:  #96192B;

}

.toggle-button {
    position: absolute;
    top: .8rem;
    right:1.5rem;
    display:none;
    flex-direction: column;
    justify-content: space-between;
    width:30px;
    height:20px;
}

.toggle-button .bar {
    height:2%;
    width:90%;
    background-color: white;
    border-radius:10px;
}

@media (max-width: 500px) {
    .brand-title img{
        width: 100%;
        margin-left:3%;
        margin-top: 2%;
    }   

    .toggle-button {
    display:flex;
}

.navbar-links ul li a:hover {
    color: #96192B;
}

.navbar-links {
    display:none;
    width:100%;
   
}
.navbar {
    flex-direction: column;
    align-items:flex-start;
}
.navbar-links ul {
    flex-direction: column;
    width:100%;
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows:  150px 150px;
    justify-self: center;
    height: 300px;
    margin: 0;
}
.navbar-links li {
    text-align: center;
    width: 150px;
    height: 80px;
    border: 2px solid white;
    justify-self: center;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 0px;
    padding: 20px;
  
}
.navbar-links li a {
    padding: .5rem 1rem;
    
}
.navbar-links.active {
    display: flex;
 
}

}
/* ------------------------------- main-page--------------- */

main {
    width: 1000px;
    height: 560px;
    background-image: url('../images/mainimg.jpg');
    background-size: cover;
    position: relative;
    zoom: 80%;
    margin: 100px auto 5% auto;
    display: grid;
    grid-template-rows: 50px 200px;
    padding: 110px;
    border: 3px solid white;
}
main h1 {
    margin-top:1%;
    font-size: 35px;
    color:white;
    justify-self: center;
} 
main p {
    margin-top: -2%;
    width: 600px;
    font-size: 20px;
    color: white;
    text-align: center;
    justify-self: center;
    line-height: 1.7;
} 
.buttons {
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1000px;
    column-gap: 30px;
    zoom: 80%;
}
.box1{
    background-image: url('../images/box1.jpg');
    background-size: cover;
    box-shadow: 3px 3px 10px black;
    font-size: 20px;
    color: white;
    width: 480px;
    height: 360px;
    text-align: right;
    display: grid;
    grid-template-rows:1fr 1fr 1fr ;
}
.box1 a {
    font-size: 60px;
    color: white;
    margin-top: -40px;
    justify-self: center;
}
.box1 h2{
    margin-top: 100px;
    margin-right: 40px;
    width: 200px;
    justify-self: right;
}
.box1 p {
    margin-top: -5px;
    font-size: 20px;
    margin-right: 40px;
    width: 270px;
    justify-self: right;
}

.box1 .boxbtn {
    color: white;
    border: none;
    background-color: transparent;
    width: 500px;
    height: 70px;
}

.box1 h5 {
    font-size: 25px;
    margin-top: 20px;
    margin-right: 40px;
    padding: 0;
    text-align: right;
}

.box2{
    background-image: url('../images/btnevents.jpg');
    background-size: cover;
    font-size: 20px;
    color: white;
    box-shadow: 3px 3px 10px black;
    width: 480px;
    height: 360px;
    text-align: left;
    display: grid;
    grid-template-rows:1fr 1fr 1fr ;
}
.box2 .boxbtn {
    color: white;
    border: none;
    background-color: transparent;
    width: 500px;
    height: 70px;
}
.box2 h5 {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 0;
    text-align: left;
}
.box2 h2{
    margin-top: 100px;
    margin-left: 20px;
    width: 200px;
}
.box2 p {
    margin-top: -5px;
    margin-left: 20px;
    width: 230px;
    font-size: 20px;
}
.box2 a {
    font-size: 60px;
    color: white;
    margin-top: -15px;
    justify-self: center;
}

.bottom {
    background-image: url('../images/bottomimg.jpg');
    width: 1000px;
    height: 562px;
    margin-top: 5%;
    margin-bottom: 5%;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    zoom: 80%;
    border: 3px solid white;
}
.bottom h2 {
    font-size: 40px;
    width: 800px;
    position: absolute;
    text-align: left;
    color: white;
    margin-top: 460px;
    margin-left: 10px;
} 
footer img {
    width: 200px;
    float: left;
}


@media screen and (max-width: 768px) {

}





/* ------------------------------- footer--------------- */

.grid-footer{
    display: grid;
    height: 100%;
    width: 100%;
    margin-top: 3%;
    background-color: #13141A;  
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr;
  }

  .grid-footer .footer-logo{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    margin-top: 7%;
    margin-bottom: 7%;
    margin-left: 55%;
}

.footer-logo img{
   width: 80%;
}

.grid-footer .footer-text{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: right;
    margin-right: 50%;
    color: white;
    font-size: 0.9em;
}

/* for big screens */
@media only screen and (min-width: 2000px){

    .grid-footer .footer-text{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        font-size: 1.3em;
        margin-top: 2%;
        text-align: right;
        margin-right: 50%;
        color: white;
    }


}


/* for tablet */
@media only screen and (max-width: 768px){

    .grid-footer .footer-text{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        text-align: right;
        font-size: 0.5em;
        margin-right: 50%;
        color: white;
    }
}


/* for phone */
@media only screen and (max-width: 500px){

    .grid-footer .footer-text{
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 1;
        font-size: 0.3em;
        text-align: right;
        margin-right: 40%;
        color: white;
    }


    .grid-footer .footer-logo{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
        margin-top: 7%;
        margin-bottom: 7%;
        margin-left: 25%;
    }
}

